p {
    color: red;
    font-family: Montserrat;
    /* font-size: 16px; */
    font-weight: 900;
    /* font-style: italic; */
    text-align: start;
    /* line-height: 1.5; */
    /* letter-spacing: 2px; */
    /* text-transform: lowercase; uppercase (HOLA), lowercase(hola), capitalize(Hola) */
}

span{
    text-decoration: underline overline line-through;
}

h1 {
    font-family: Montserrat;
    font-weight: 900;
    text-align: center;
}

h2{
    font-family: Montserrat;
    font-weight: 900;
    font-style: italic;
}